<!DOCTYPE html>
<html>
<head>
  <title>Scribble</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <h1>Scribble</h1>
    <nav>

      <%= link_to "Home", posts_path %>
      <%= link_to "New Post", new_post_path %>
      <% if session[:is_signed_in] %>
        <%= link_to "Your Profile", user_path(session[:user]["id"]) %>
      <% end %>
      <% if session[:is_signed_in] %>
        <%= link_to "Sign Out: #{session[:user]["username"]}", signout_path %>
      <% else %>
        <%= link_to "Sign In", signin_path %>
      <% end %>
    </nav>
  </header>

<%= yield %>

</body>
</html>
